body {
      background-color: #ffffcc;
      color: #330000;
      font-family: Verdana;
    }
 img{
     float: right;
   }
 
    #divContainer {
      margin-top: 20px;
      margin-left: 20%;
      margin-right: 20%;
      height: 480px;
      width: 750px;
      border-style: solid;
      padding: 0px;
    }

    #divHeader {
      background-color: #ccaa66;
      text-align: center;
      border-bottom-style: solid;
      border-top-style: solid;
      height: 80px;
      margin: 0px;
    }

    #divLeft {
      background-color: #e8d882;
      position: relative;
      padding-left: 10px;
      white-space:pre-line;
      left: 0px;
      width: 130px;
      height: 320px;
      float: left;
     
    }

    #navBar {
      text-align: left;
    }

    #divRight {
      background-color: #f1e8b0;
      position: relative;
      width: 590px;
      height: 300px;
      padding: 10px;
      float: right;
    }

   
    #divFooter {
      background-color: #ccaa66;
      border-top-style: solid;
      height: 62px;
      text-align: center;
      font-style: italic;
      width: 100%;
      margin-top: 320px;
      padding-top: 10px;
    }
    form{
      padding: 10px;
    }
    label{
      font-size: 12px;
    }